@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
.input-box{
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    outline: none;
    height: 30px;
}
.container{
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}
.hg-theme-default {
    background-color: #ffffff;
    padding: 2% 5%;
}
.hg-theme-default .hg-button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    align-items: center;
    background: #e2ffeb;
}

.search-box {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  
  padding: 10px;
  border-radius: 40px;
  height: 40px;
  background: #2f3640;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover .search-btn {
  background: #fff;
}

.search-txt:active, .search-txt:focus{
    width: 240px;
    padding: 0 6px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  font-size: 1rem;
  width: 0px;
}

.search-txt2 {
  border: none;
  background: none;
  outline: none;
  padding: 0 6px;
  color: #fff;
  transition: 0.5s;
  font-size: 1rem;
  width: 240px;
}

.search-btn {
  color: #1abc9c;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
}

.wrap {
    display: inline-flex;
    margin: 1.5%;
    align-items: center;
    justify-content: center;
}

.button {
    width: 160px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    /*background-color: #fff;*/
    background-image: linear-gradient(to right, #21f07ddb,#ff14147a,#21f07ddb);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-top: 9%;
    cursor:pointer;
}

.button:hover {
    background-color: #3fff00b8;
    box-shadow: 0px 15px 20px rgb(17 84 0 / 22%);
    color: #fff;
    transform: translateY(-7px);
    outline: none;
    border: none;
}
.button:focus{
    border: none;
    outline: none;
}

.watermark {
    margin : 1rem;
    bottom: 1rem;
    background-color: rgb(255 255 255 / 49%);
    display:block;
    flex-wrap: wrap;
    z-index: -1;
}

.watermark img{
  width: 5rem;
  height: 5rem;
  left: 1rem;
}
.watermark span{
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: smaller;
}
.sentence{
  color: darkslateblue;
  display: flex;
  margin: 1%;
}

.matter-div{
  padding-left: 4%;
  padding-right: 4%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sentence-div{
  width: 55%;
  text-align: left;
}
.image-div{
  width: 40%;
}
.image-div img{
  width: fit-content;
}

.logo {
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end;*/
  align-items: center;
  padding: 0px 10%;
  background-color: #030033;
  box-shadow: 0px 0px 20px 0;
}

.logo {
  color: #ffffff;
  /*margin-right: auto;*/
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}


.search-message-empty-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4.5em;
  color: darkgreen;
  font-weight: 400;
  line-height: 1.4;
  font-family: SourceSansLocal,source-sans-pro,Source Sans Pro,
               -apple-system,Roboto,pt sans,calibri,sans-serif;
}

.search-message-empty-decal {
  margin-right: 2rem;
  font-size: 6rem;
  transform: rotate(90deg);
}

.search-message-empty-message {
  font-size: 1.5em;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-results{
  text-align: center;
}

.speaker_button {
  position: absolute;
  background-image: url("./speaker.png");
  width: 20px;
  height: 30px;
}

.btn {
	border: none;
  padding: 0;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 3em;
  color: #fff;
  padding: 0;
  margin: 0;
  background: red;
	position: relative;
	z-index: 999;
  display: inline-block;
    line-height: 100px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.btn2 {
	border: none;
  padding: 0;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 3em;
  color: #fff;
  padding: 0;
  margin: 0;
  background: #189BFF;
	position: relative;
	z-index: 999;
  display: inline-block;
    line-height: 100px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.pulse-ring {
  content: '';
  width: 30px;
  height: 30px;
	background: #189BFF;
  border: 5px solid #189BFF;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  animation: pulsate infinite 1.5s;
}

.pulse-ring.delay{
  animation-delay: 1s;
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0;
  }
}

.container-mic {
	display: flex;
  align-items: center;
  margin-left: 3px;
  justify-content: center;
	background-color: transparent;
}

.m-left{
	margin-left: 30px * 3;
}

.type2{
	background: #189BFF;
}

.type2 .pulse-ring{
	background: transparent;
}

.btn svg{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 0.4em;
  height: 0.4em;
}
.btn2 svg{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 0.4em;
  height: 0.4em;
  z-index: 2;
}
